<!DOCTYPE html>
<html>

	<head>
		<title><%= @page_title or 'Backbone.js + Rails' %></title>
		<!-- global stylesheets -->
		<%= stylesheet_link_tag "application" %>
		<!-- page specific stylesheets -->
		<%= yield :stylesheets %>
		  
		<!-- global javascripts -->
		<%= javascript_include_tag 'json2' %>
		<%= javascript_include_tag 'jquery-1.4.4' %>
		<%= javascript_include_tag 'rails' %>
		<%= javascript_include_tag 'underscore' %>
		<%= javascript_include_tag 'backbone' %>
		<%= javascript_include_tag 'icanhaz' %>
		<!-- page specific javascripts -->
		<%= yield :javascripts %>
		  
		<%= csrf_meta_tag %>
	</head>
	
	<body>
		<%= content_for?(:content) ? yield(:content) : yield %>
	</body>
	
</html>